.navBar{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 250px;
    height: auto;
    margin: 20px;
}